nav {
    background-color: #4a47a3;
}

.perfil{ 
    width: 50px; height: 50px;
  }

.card-body{
    background-color: #4a47a3;
}
.btn-rounded{
    border-radius: 50px;
}
p, a{
    font-size:25px;
    font-family: roboto condensed,sans-serif;
    color: white

}

.row {
    text-align: center;
}
.card-header{
    text-align: center;
}

.share {
    background-color: #32d900;
    padding: 10px 0px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
  }
  
  .btn-position-control {
    text-align: center;
    position: relative;
    top: 40px;
  
  }

  .btn-control {
    border: 1px solid #466995;
    margin: 20px;
    display: inline-block;
    height: 150px;
    width: 200px;
   
  }
  
  .btn-control:hover {
    background: #C0D6DF;
    color: #FFF;
  }