body {
    background-color: #413c69;
}

.card-body{
    background-color: #4a47a3;
}

p{
    font-size:25px;
    font-family: roboto condensed,sans-serif;
    color: white

}

.row {
    text-align: center;
}
.card-header{
    text-align: center;
}

.share {
    background-color: #32d900;
    padding: 10px 0px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
  }

